body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#paragraph{
    text-align: justify;
}

#islam {
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-part {
    width: 50%;
    padding-left: 5%;
}

.half-part img {
    width: 90%;
    padding-top: 15%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
}
.top_banner{
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
.half-part3 {
    width: 50%;
    padding-right: 5%;
    padding-top: 30px;

}

.half-part2 img {
    width: 90%;
    padding-top: 30px;
    padding-right: 5%;
}
.side-image{
    background-image: url(Image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.other-h1{
    margin-left: 30px;
}
.color{
    color: orange;
}
.backgroud-area{
    background-image: url(Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}
.experience-item{
   
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 5px;
    border-radius: 10px;
    
    box-shadow: 10px 10px 30px gray;
}
#full{
    border-left: 5px solid blue;
    border-right: 5px solid turquoise;
}
#full-2{
    border-left: 5px solid red;
    border-right: 5px solid green;
}
footer p{
    text-align: center;
}